.flow
{
    height: 200px;
    background-color:#039be6;  
}
.overlap
{
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: -46px;
}
.add-form
{    
    margin-top: 30px ;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 50px;
}
.field
{
    width: 90%;
}